/*Universal CSS*/
body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

#nav-container{
  width: 100%;
  position: relative;
  text-align: center;
}

#nav-bar {
  font-family: Calibri, sans-serif;
  font-weight: 500;
  overflow: hidden;
  font-size: 20px;
  background-color: rgb(57, 30, 78);
}

#nav-bar ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#nav-bar ul{
  margin: 0;
  padding: 0;
}

#nav-bar ul li a{
  display: block;
  padding: 20px 50px;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s;
}

#nav-container ul li a:hover {
  background-color: rgb(45, 22, 63);
  transition: ease-out .5s;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  overflow: hidden;
  background-color: aqua;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  padding: 0;
  margin-top: 20px;
}

/*Resume*/