/*Universal CSS*/
body {
  background-color: #fafafa;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

#nav-container{
  width: 100%;
  position: relative;
  text-align: center;
}

#nav-bar {
  font-family: Calibri, sans-serif;
  font-weight: 500;
  overflow: hidden;
  font-size: 20px;
  background-color: #484b6a;
  position: sticky;
  top: 0;
  z-index: 2;
  
}

#nav-bar ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#nav-bar ul{
  margin: 0;
  padding: 0;
}

#nav-bar ul li a{
  display: block;
  padding: 20px 50px;
  color: #fafafa;
  text-decoration: none;
  transition: background-color .5s;
}

#nav-container ul li a:hover {
  background-color: #9394a5;
  transition: ease-out .5s;
}

.container {
  padding-left: 1vw;
  padding-right: 1vw;
  overflow: hidden;
  background-color: #fafafa;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  color: #484b6a;
}

/*Resume (Fixed-width)*/

#res-sum {
  background-color: #e4e5f1;
  position: relative;
  margin-top: 1%;
  padding: 10px;
}

#res-sum p{
  margin: 0;
}

#resume h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}

#res-work-skills {
  background-color: #606ad1;
  position: relative;
}

#res-skills, #res-work{
  width: 100%;
  margin-top: 20px;
}

#res-skills {
  float: right;
  width: 600px;
  background-color: #e4e5f1;
  padding: 10px;
  padding-bottom: 210px;
  
}
#res-work {
  float: left;
  background-color: #e4e5f1;
  width: 1200px;
  padding: 10px;
}

#res-project {
  margin-top: 440px;
  background-color: #e4e5f1;
  padding: 10px;
  justify-items: center;
}

#res-project ul {
  padding: 0;
}

#res-footer img{
  width: 50px;
  height: auto;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

#res-footer {
  text-align: center;
  width: 100%;
  background-color: #484b6a;
  margin-top: 20px;
}

#res-footer img:hover {
  background-color: #9394a5;
  transition: ease-out .5s;
}

/* CD Page (Fluid-page)*/

#cd-list {
  display: inline-block;
  background-color: #606ad1;
  width: 50vw;
}

#cd-list ol li{
  background-color: #e4e5f1;
  padding: 10px;
  margin: 10px;
  width: 10vw;
}

#cd-list ol {
  padding: 0;
}

#achievements {
  display: inline-block;
  background-color: #606ad1;
  width: 100vw;
  max-width: 50vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#achievements img{
  display: inline-block;
  background-color: #606ad1;
  background-repeat: no-repeat;
}

#music {
  background-color: aquamarine;
  display: flex;
}